@font-face {
    font-family: 'Norse';
    src: url('./transfonter/Norse-Bold.woff2') format('woff2'),
        url('./transfonter/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./transfonter/Quicksand-Regular.woff2') format('woff2'),
        url('./transfonter/Quicksand-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-container {
    height: 100%;
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.odin-logo {
    height: 120px;
    width: 100%;
    margin: auto 0;
    padding: 7px 0;
    display: flex;
    justify-content:center;
    background-color: rgb(0 0 0 / 0.5);
} 

.odin-picture {
    height: 100%;
    
}

.odin-logo p {
    color: white;
    font-family: 'Norse';
    font-size: 6rem;
    margin: auto 0;
}

.credit {
    color: white;
    margin: 0 auto;
    padding: 7px;
}

.credit a {
    color: white;
}

.right-container {
    background-color: #F9FBFA;
    display: flex;
    flex: 2;
    flex-direction: column;
}

header,
form {
    width: 77%;
}

header {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

main {
    flex: 1;
    background-color: #FFFEFE;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

footer {
    flex: 2;
}

header p,
main p {
    font-family: 'QuickSand';
    font-size: 1.5rem;
    margin: 0;
    padding-left: 32px;
}

main p {
    padding-top: 16px;
    padding-bottom: 16px;
}

form {
   font-family: 'QuickSand'; 
   padding: 0 0 48px 32px;
   display: flex;
   flex-wrap: wrap;
}

form > div {
    padding: 16px 84px 0 0;
    display: flex;
    flex-direction: column;
    width: 50%;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 7px;
}

input:focus {
    /* background: rgb(0 0 0 / 10%); */
    border: 1px solid blue;
    outline: none;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

input:invalid {
    border: 1px solid red;
}

input:focus:invalid {
    box-shadow: none;
}

footer > div {
    padding: 32px 0 0 32px;
}

footer > p {
    padding-left: 32px;
}

button {
    background: #596D48;
    padding: 12px 48px;
    font-weight: bold;
    font-size: large;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

button:hover {
    filter: brightness(1.2);
}

button:active {
    filter: brightness(0.8);
    transform: translateY(2px);
}

footer > p > a {
    color: #596D48;
    font-weight: bold;
    cursor: pointer;
}