@font-face {
    font-family: 'Norse';
    src: url('./transfonter/Norse-Bold.woff2') format('woff2'),
        url('./transfonter/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-container {
    height: 100%;
    width: 30%;
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.odin-logo {
    height: 120px;
    width: 100%;
    margin: auto 0;
    display: flex;
    justify-content:center;
    background-color: rgb(0 0 0 / 0.5);
} 

.odin-picture {
    height: 100%;
    
}

.odin-logo p {
    color: white;
    font-family: 'Norse';
    font-size: 6rem;
    margin: auto 0;
}

.credit {
    color: white;
    margin: 0 auto;
    padding: 7px;
}

a {
    color: white;
}